.todayWeatherSec {
  display: flex;
  width: 100%;
  flex-direction: column;
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 16px;
  background: var(--background);
  color: var(--color);
}
.areaRow {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 20px;
}
.area {
  font-size: 1.5rem;
  font-weight: 500;
}
.currentDate {
  font-size: 12px;
}
.temprature {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.temp_icons {
  display: flex;
  align-items: center;
}
.temp {
  font-size: 62px;
  font-weight: 500;
}
.temp sup {
  font-size: 2rem;
}
.temp_summery {
  display: flex;
  flex-direction: column;
  text-align: right;
}
.hourly {
  display: flex;
  width: 100%;
  overflow: auto;
}
.hourlyTempSec {
  padding: 15px;
  width: 30%;
  flex: none;
  background: var(--background);
  color: var(--color);
  margin-right: 15px;
  border-radius: 8px;
  min-width: 130px;
}
.hourlyTempWithIcon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hourlyTemp {
  font-size: 1.5rem;
}
.hourlyTemp sup {
  font-size: 0.8rem;
}
.hourlyTime {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
